* {
  box-sizing: border-box;
}

body {
  padding: 1rem;
  color: black;
  background-color: white;
  font-family: 'Inter', system-ui, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.6;
  letter-spacing: 0.01em;
}

.cards-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (min-width: 700px) {
  .cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: masonry;
  }
}
